{% extends 'base.html.twig' %}

{% block title %}Nouvel étudient{% endblock %}

{% block body %}
    <h1>Ajouter un étudient !</h1>

    {{ include('students/_form.html.twig') }}

    <a class="btn btn-light"  href="{{ path('student_index') }}">Retour à la liste</a>
{% endblock %}
