<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    {% block stylesheets %}{% endblock %}
</head>
<body>
{% block body %}
    <h1> Liste des series de {{ user.firstname }} </h1>
    <ul>
        {% for serie in series %}
            {% for result in results %}
                <li>{{ serie.libelle }} {{ result.result }}</li>
            {% endfor %}
        {% endfor %}
    </ul>
{% endblock %}
{% block javascripts %}{% endblock %}
</body>
</html>