<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}!{% endblock %}</title>
    {% block stylesheets %}{% endblock %}
</head>
<body>
{% block body %}
    <h1> Liste des series de {{ app.user.getFullname }} </h1>
    <ul>
        {% for result in results %}
            <li>{{ result.libelle }} {{ result.result }}</li>
            <br />
        {% endfor %}
    </ul>
{% endblock %}
{% block javascripts %}{% endblock %}
</body>
</html>