{% extends 'base.html.twig' %}

{% block title %}Ajouter un résultat{% endblock %}

{% block body %}
    <h1>Ajouter un résultat</h1>

    {{ include('result/_form.html.twig') }}

    <a class="btn btn-light" href="{{ path('result_index') }}">Retour à la liste</a>
{% endblock %}
