<form method="post" action="{{ path('response_question_delete', {'id': response_question.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ response_question.id) }}">
    <button class="btn">Delete</button>
</form>
